<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/cde5077fb4.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'movie_app/css/link-style.css' %}">
    <style>
        * {
            font-family: 'Montserrat', sans-serif;
        }

        #logo {
            width: 230px;
            height: 60px;
        }
    </style>
</head>

<body class="bg-light">
    <div class="navbar navbar-expand-md navbar-dark bg-dark sticky-top" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="/main">
                <img src="{% static 'movie_app/images/newlogo2.png' %}" id="logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto font-weight-bold">
                    <li class="nav-item">
                        <a class="nav-link cool-link" href="/main">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link cool-link" href="/search">Find a movie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link cool-link" href="/find_cinema">Find cinemas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link cool-link active" href="/account">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link cool-link text-primary" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container mt-2">
        <h1 class="font-weight-bold">Cinemas Nearby:</h1>
        {% for cinema in cinemas %}
        <div class="container">
            <h4 class="text-info font-weight-bolder mb-0">{{cinema.name}}</h4>
            <span class="ml-2 d-block">Website: <a href="{{cinema.website}}">{{cinema.website}}</a></span>
            <span class="ml-2 d-block">Telephone: {{cinema.telephone}}</span>
            <h6 class="text-success">{{cinema.location.address.display_text}}</h6>
        </div>
        <hr>
        {% endfor %}
    </div>
    <footer class="footer mt-auto py-3 bg-dark">
        <div class="container-fluid text-light text-center">
            <small><i class="far fa-copyright"></i>2019 || Developed By: Cean Tolentino || <a href="/contact_me"
                    class="cool-link d-inline-block text-warning" style="text-decoration: none;">Contact
                    Me</a></small>
        </div>
    </footer>
</body>

</html>