<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    {% load static %}
    <script src="{% static 'movie_app/js/reg.js' %}"></script>
    <style>
        body {
            background-color: #8B0C32;
        }
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="container p-3 bg-light col-md-6 col-xs-12 col-xl-4 mt-5 mb-5 rounded">
            <div class="float-right">
                <a href="/" class="badge badge-secondary">Cancel</a>
            </div>
            <div class="navbar-brand">
                <img src="{% static 'movie_app/images/logo_transparent_background.png' %}" class="w-100" />
            </div>
            <h2>Register an account:</h2>
            <form action="/register_post" method="POST" id="regForm">
                {% csrf_token %}
                <div class="form-group">
                    <label for="fname">First Name:</label>
                    <div class="message">
                        {% if messages %}
                        {% for message in messages %}
                        {% ifequal message.tags 'fname error' %}
                        <small class="text-danger">{{ message }}</small>
                        {% endifequal %}
                        {% endfor %}
                        {% endif %}
                    </div>
                    <input type="text" class="form-control" name="fname" id="fname" required>
                </div>
                <div class="form-group">
                    <label for="lname">Last Name:</label>
                    <div class="message">
                        {% if messages %}
                        {% for message in messages %}
                        {% ifequal message.tags 'lname error' %}
                        <small class="text-danger">{{ message }}</small>
                        {% endifequal %}
                        {% endfor %}
                        {% endif %}
                    </div>
                    <input type="text" class="form-control" name="lname" id="lname" required>
                </div>
                <div class="form-group">
                    <label for="uname">Username:</label>
                    <div class="message">
                        {% if messages %}
                        {% for message in messages %}
                        {% ifequal message.tags 'uname error' %}
                        <small class="text-danger">{{ message }}</small>
                        {% endifequal %}
                        {% endfor %}
                        {% endif %}
                    </div>
                    <input type="text" class="form-control" name="uname" id="uname" required>
                    <div id="usernameMsg"></div>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <div class="message">
                        {% if messages %}
                        {% for message in messages %}
                        {% ifequal message.tags 'email error' %}
                        <small class="text-danger">{{ message }}</small>
                        {% endifequal %}
                        {% endfor %}
                        {% endif %}
                    </div>
                    <input type="text" class="form-control" name="email" id="email" required>
                    <div id="emailMsg"></div>
                </div>
                <div class="form-group">
                    <label for="bday">Birthday:</label>
                    <div class="message">
                        {% if messages %}
                        {% for message in messages %}
                        {% ifequal message.tags 'bday error' %}
                        <small class="text-danger">{{ message }}</small>
                        {% endifequal %}
                        {% endfor %}
                        {% endif %}
                    </div>
                    <input type="date" class="form-control" name="bday" id="bday" value="2019-12-12">
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <div class="message">
                        {% if messages %}
                        {% for message in messages %}
                        {% ifequal message.tags 'password error' %}
                        <small class="text-danger">{{ message }}</small>
                        {% endifequal %}
                        {% endfor %}
                        {% endif %}
                    </div>
                    <input type="password" class="form-control" name="password" id="password" required>
                </div>
                <div class="form-group">
                    <label for="confpw">Confirm Password:</label>
                    <div class="message">
                        {% if messages %}
                        {% for message in messages %}
                        {% ifequal message.tags 'confpw error' %}
                        <small class="text-danger">{{ message }}</small>
                        {% endifequal %}
                        {% endfor %}
                        {% endif %}
                    </div>
                    <input type="password" class="form-control" name="confpw" id="confpw" required>
                </div>
                <button type="submit" class="btn btn-primary form-control col-md-3">Register</button>
            </form>
        </div>
    </div>
    <div class="footer bg-dark">
        <div class="container-fluid text-light text-center p-2">
            <small><i class="far fa-copyright"></i>2019 || Developed By: Cean Tolentino || <a href="/contact_me"
                    class="cool-link d-inline-block" style="text-decoration: none;">Contact
                    Me</a></small>
        </div>
    </div>
</body>

</html>