<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/cde5077fb4.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
    {% load static %}
</head>

<body class="bg-dark">
    <div class="navbar navbar-expand-md navbar-light bg-light sticky-top border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand" href="/main">
                <h1>Logo</h1>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/main">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">My Movies</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/search">Find a movie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Review</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-primary" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <div class="container col-4 text-white ">
                <form action="/search_post" method="POST">
                    <div class="form-group">
                        <label for="category">Search by: </label>
                        <select class="form-control col-6" name="category" id="category" placeholder="Search By">
                            <option value="title">Title</option>
                            <option value="cast">Cast</option>
                            <option value="genre">Genre</option>
                        </select>
                    </div>
                    <input type="text" class="form-control" name="search_text" id="search_text">
                    <button type="submit" class="btn btn-primary mt-3">Search</button>
                </form>
            </div>
            <div class="container col-8 text-white">
                <h1>Hi</h1>
            </div>
        </div>
    </div>
</body>

</html>