<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/cde5077fb4.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Main</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'movie_app/css/view.css' %}">
    <script src="{% static 'movie_app/js/accounts.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'movie_app/css/link-style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'movie_app/css/swiper.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'movie_app/css/style.css' %}">
    <style>
        * {
            font-family: 'Montserrat', sans-serif;
        }

        #logo {
            width: 230px;
            height: 60px;
        }
    </style>
</head>

<body class="bg-light">
    <div class="navbar navbar-expand-md navbar-dark bg-dark sticky-top border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand" href="/main">
                <img src="{% static 'movie_app/images/newlogo2.png' %}" id="logo" />
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span terclass="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto font-weight-bold">
                    <li class="nav-item">
                        <a class="nav-link cool-link" href="/main">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link cool-link" href="/search">Find a movie</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link cool-link" href="/find_cinema">Find cinemas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link cool-link active" href="/account">My Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link cool-link text-primary" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row">
            <div class="container col-lg-4 col-md-5 col-sm-12 mb-5">
                <h2 class="m-0">{{ user.first_name }} {{ user.last_name }}</h2>
                <div class="info text-secondary">
                    <h6 class="ml-3 m-0 text-info">{{ user.username }}</h6>
                    <div class="row">
                        <div class="container text-center col-4">
                            <small>{{user.my_followers.all|length}}</small>
                            <small class="d-block">Followers</small>
                        </div>
                        <div class="container text-center col-4">
                            <small>{{ user.users_followed.all|length }}</small>
                            <small class="d-block">Following</small>
                        </div>
                        <div class="container text-center col-4">
                            <small>{{ user.my_reviews.all|length }}</small>
                            <small class="d-block">Reviews</small>
                        </div>
                    </div>
                </div>
                <div class="container">
                    {% if is_followed  %}
                    <p class="badge badge-success p-1">Following</p>
                    {% else %}
                    <a href="/{{ user.id }}/follow" class="btn badge badge-primary">Follow</a>
                    {% endif %}
                </div>

            </div>
            <div class="container col-lg-8 col-md-7 col-sm-12">
                <h2 align="center">{{user.first_name}}'s reviews</h2>
                <input type="hidden" name="revs" id="revs" value="{{ rev_dict }}">
                {% for review in user.my_reviews.all %}
                <div class="container mb-3 border-bottom">
                    <a href="/{{review.movie_id}}/view" class="m-0 font-weight-bolder cool-link d-inline-block"
                        style="text-decoration: none;">{{ review.movie_title }}</a>
                        <br>
                    {% for i in '11111111111'|make_list %}
                    {% if forloop.counter|divisibleby:2 and forloop.counter <= review.rating%}
                    <i class="fas fa-star text-warning"></i>
                    {% elif forloop.counter|divisibleby:2 and forloop.counter > review.rating %}
                    <i class="fas fa-star text-secondary"></i>
                    {% endif %}
                    {% endfor %}
                    <p class="m-0">{{ review.comment }}</p>
                    <small class="text-secondary">{{ review.created_at }}</small>
                </div>
                {% endfor %}
                <div class="page text-center">
                    <span class="step-links">
                        <span class="current font-weight-bold">
                            Page {{ reviews.number }} of {{ reviews.paginator.num_pages }}.
                        </span>
                        <ul class="pagination justify-content-center">

                            {% if reviews.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
                            <li class="page-item"><a class="page-link"
                                    href="?page={{ reviews.previous_page_number }}">Previous</a></li>
                            {% else %}
                            <li class="page-item disabled"><a class="page-link">&laquo; First</a></li>
                            <li class="page-item disabled"><a class="page-link">Previous</a></li>
                            {% endif %}
                            {% if reviews.has_next %}
                            <li class="page-item"><a class="page-link"
                                    href="?page={{ reviews.next_page_number }}">Next</a></li>
                            <li class="page-item"><a class="page-link"
                                    href="?page={{ reviews.paginator.num_pages }}">Last &raquo;</a></li>
                            {% else %}
                            <li class="page-item disabled"><a class="page-link">Next</a></li>
                            <li class="page-item disabled"><a class="page-link">Last &raquo;</a></li>
                            {% endif %}

                        </ul>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid bg-dark p-3">
        <h2 class="text-white text-center mb-3 font-weight-bolder">Movies {{user.first_name}} watched</h2>
        <div class="container-fluid">
            <div class="swiper-container m-0">
                <div class="swiper-wrapper">
                    {% for like in likes %}
                    <a href="/{{like.id}}/view" class="swiper-slide"
                        style="background-image: url('https://image.tmdb.org/t/p/w500{{ like.poster_path }}')"></a>
                    {% endfor %}
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container-fluid text-center p-2">
            <small><i class="far fa-copyright"></i>2019 || Developed By: Cean Tolentino</small>
        </div>
    </div>
    <script rel="stylesheet" type="text/javascript" src="{% static 'movie_app/js/swiper.min.js' %}"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: 'auto',
            coverflowEffect: {
                rotate: 50,
                stretch: 0,
                depth: 100,
                modifier: 1,
                slideShadows: true,
            },
            pagination: {
                el: '.swiper-pagination',
            },
        });
    </script>
</body>

</html>