.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #8B0C32;
    transition: width .3s;
}

.cool-link:hover::after {
    width: 100%;
    transition: width .3s;
}

